<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @training_level.description %>
</p>

<%= link_to 'Edit', edit_training_level_path(@training_level) %> |
<%= link_to 'Back', training_levels_path %>
