<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @academic_level.description %>
</p>

<%= link_to 'Edit', edit_academic_level_path(@academic_level) %> |
<%= link_to 'Back', academic_levels_path %>
