<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @ocupation.description %>
</p>

<%= link_to 'Edit', edit_ocupation_path(@ocupation) %> |
<%= link_to 'Back', ocupations_path %>
