<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @training_workshop.description %>
</p>

<%= link_to 'Edit', edit_training_workshop_path(@training_workshop) %> |
<%= link_to 'Back', training_workshops_path %>
