/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 div.campo{
    height: 5rem;
 }
 nav{
 	background: #652299;
 }
ul.menu, .menu li ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #652299;
    z-index: 3;
    
}
ul.menu{
    list-style: none;
	text-align: justify; 
	height: 4rem;
}
fieldset{
    margin: 2rem auto;
}
/*

/ÉSTO ES PARA QUE EL MENU SE DISTRIBUYA HORIZONTALMENTE DE FORMA UNIFORME
ul.menu{
	width: 100%;
    height: 4.4rem;
}
ul.menu:after{
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: hidden;
}*/


.menu li {
    float: none;
    display: inline-block;
    position: relative;
    height: 3rem;
}

.menu li a{
    display: inline-block;
    color: #fff;
    text-align: justify;
    padding: 0px 0.9rem;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
}

.menu li a:hover, .menu li:hover  {
	text-decoration: underline;
	
}

.menu ul li {
    display: inline-block;
    height: auto;
	line-height: 2;
}

.menu li ul {
    display: none;
    position: absolute;
    width: 14vmax;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
	top: 4rem;
}

.menu li ul li ul {
    left: 14vmax;
    top: 0;
    background: #1C254A;
}

.menu li ul li{
	width: 100%;
	float: left;
}
.menu li ul > a:hover {display: inline-block;}

.menu li:hover >  ul {
    display: inline-block;
}